.layout {
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sidebar {
  flex: 0.2;
  min-height: 93vh;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  animation: moveInLeft;
  animation-duration: 0.5s;
  transition: all 0.5s;
}

.sidebar button {
  font-size: 16px;
  transition: all 0.5s;
}

.hidden {
  display: none;
}

.hidden button{
  font-size: 0;
  transition: all 0.5s;
}

@keyframes moveInLeft {
  0% {
      transform: translateX(200px);
  }

  100% {
      transform: translateX(0px);
  }
}

@media only screen and (max-width: 350px) {
  .sidebar {
    flex: 0;
  }
}