/* Color Palette */

/* Primary: #36d8ab
   Secondary: #2d74df
   Background: #ffffff
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'oxygen', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

input {
  font-family: "oxygen", sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px 10px;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2.5px solid rgb(95, 95, 95);
  outline: none;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 2.5px solid #36d8ab;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
}

select {
  width: 100%;
  font-family: "oxygen", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 10px;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2.5px solid rgb(95, 95, 95);
  outline: none;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select:focus {
  border-bottom: 2.5px solid #36d8ab;
}

.missing-field {
  position: absolute;
  margin-top: 5px;
  color: red;
  font-size: 14px;
}

a {
  font-weight: 600;
  color: #36d8ab;
  text-decoration: none;
}